<footer class="footer" role="contentinfo">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p><strong>{{ package.displayName }} Version {{ package.version }}</strong></p>
            </div>
            <div class="col-md-6">
                {{> debug}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{package.copyright}}</p>
            </div>
        </div>
    </div>
</footer>